@import "tailwindcss";

/* Hide scrollbars across all elements and browsers */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: hidden; /* Lock viewport and prevent manual scrollbar scrolling */
  height: 100vh;
  width: 100vw;
}
